{% extends "base.html" %}

{% block title %}Вхід{% endblock %}

{% block content %}
<h1 class="text-center">Вхід</h1>
<form class="w-50 mx-auto" method="POST" action="/login">
    <div class="mb-3">
        <label for="username" class="form-label">Ім'я користувача</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Введіть ім'я" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Введіть пароль" required>
    </div>
    <button type="submit" class="btn btn-primary">Увійти</button>
</form>
{% endblock %}
